# Configuration file for Pipeline
#==============================================================================
# General settings
#==============================================================================
# input VCF file path
in_vcf="/home/share/data/s00_source_data/IHCAPX8/s01_short_variants/IHCAPX8_dragen_joint.hard-filtered.vcf.gz"

# Directory path for output data
out_dir="/home/share/data/output/IHCAPX8"

# Number of threads
threads=4

#==============================================================================
# Short Variants
#==============================================================================
#------------------------------------------------------------------------------
# QC Filter Parameters
#------------------------------------------------------------------------------
# Filters variants with genotype quality (Phred score) below this value
GQ=20
# Filter variants with read depth (FORMAT/DP) below this value
DP=10

#==============================================================================
# IBD detection
#==============================================================================

#------------------------------------------------------------------------------
# PLINK dataset
#------------------------------------------------------------------------------
# missing rate per SAMPLE threshold e.g. mind=0.1 excludes samples with a missing genotype rate above 10% 
mind=0.1
# missing rate per Variant threshold e.g. geno=0.1 excludes variants with a missing genotype rate above 10% 
geno=0.1
# Min allele frequency threshold
MAF=0.05

#------------------------------------------------------------------------------
# IBIS Settings
#------------------------------------------------------------------------------

# Minimum number of markers for IBIS to call a segment IBD1 (mt)
ibis_mt1=50
# Minimum number of markers for IBIS to call a segment IBD2 (mt)
ibis_mt2=10

#==============================================================================
# Protein-impacting Variant selection
#==============================================================================
# Maximum allele frequency for variant (in any of the populations of gnomAD,
# 1000 genomes project, ESP)
max_af=0.05

#==============================================================================
# Tools
#==============================================================================
# Base directory for tools
tools_dir="/home/share/tools"

# Plink folder path
plink="${tools_dir}/plink2"
# vep file path
vep="${tools_dir}/ensembl-vep/vep"

# IBIS folder path
ibis="${tools_dir}/ibis"

#==============================================================================
# Resources
#==============================================================================
# Base folder for resources
resources="/home/share/resources"

# ClinVar VCF file path
clinvar="${resources}/clinvar/clinvar_20220507.vcf.gz"

# File path containing recombination genetic map for human genome
genetic_map="${resources}/recomb-hg38/genetic_map_hg38_withX.txt"

# cadd directory path
cadd="${resources}/cadd"
