sv_vcf=//home/anisha/ShinyApps/IBDVar/data/IHCAPX8_SV_dragen_joint.sv.vcf.gz
out_dir=/home/anisha/sv_out
ibd_seg=//home/anisha/ShinyApps/IBDVar/data/ibis.seg
threads=FALSE
genes=//home/anisha/ShinyApps/IBDVar/data/genes_list.xlsx
tools_dir=/home/share/tools
plink=${tools_dir}/plink2
vep=${tools_dir}/ensembl-vep/vep
ibis=${tools_dir}/ibis
truffle=${tools_dir}/truffle
resources=/home/share/resources
clinvar=${resources}/clinvar/clinvar_20220507.vcf.gz
genetic_map=${resources}/recomb-hg38/genetic_map_hg38_withX.txt
genome=${resources}/phenogram/human_genome.txt
cadd=${resources}/cadd
ccds=${resources}/ccds
