in_vcf=//home/anisha/ShinyApps/IBDVar/data/IHCAPX8_dragen_joint.hard-filtered.vcf.gz
out_dir=/home/share/data/output/IHCAPX8
GQ=20
DP=10
MAF=0.05
ibis_mt1=50
ibis_mt2=10
mind=0.05
geno=0.01
max_af=0.05
email=a.thind@Cranfield.ac.uk
threads=4
tools_dir=/home/share/tools
plink=${tools_dir}/plink2
vep=${tools_dir}/ensembl-vep/vep
ibis=${tools_dir}/ibis
truffle=${tools_dir}/truffle
resources=/home/share/resources
clinvar=${resources}/clinvar/clinvar_20220507.vcf.gz
genetic_map=${resources}/recomb-hg38/genetic_map_hg38_withX.txt
genome=${resources}/phenogram/human_genome.txt
cadd=${resources}/cadd
ccds=${resources}/ccds
