# Configuration file for Pipeline
#==============================================================================
# General settings
#==============================================================================
# input VCF file path
sv_vcf="/home/share/data/s00_source_data/IHCAPX8/s02_structural_variants/IHCAPX8_SV_dragen_joint.sv.vcf.gz"

# Directory path for output data
out_dir="/home/share/data/output/IHCAPX8/sv"

# Number of threads
threads=4

#==============================================================================
# Structural Variants
#==============================================================================
#------------------------------------------------------------------------------
# QC Filter Parameters
#------------------------------------------------------------------------------
# IBD segment file from short-variants pipeline
ibd_seg="/home/share/data/output/IHCAPX8/s04_select_ibd_variants/ibis/ibis.seg"

genes="/home/share/resources/li_2022_gene_list.txt"



#==============================================================================
# Tools
#==============================================================================
# Base directory for tools
tools_dir="/home/share/tools"

# Plink folder path
plink="${tools_dir}/plink2"

# IBIS folder path
ibis="${tools_dir}/ibis"

#==============================================================================
# Resources
#==============================================================================
# Base folder for resources
resources="/home/share/resources"

# CCDS folder path
ccds="${resources}/ccds"
