# Configuration file for Short Variants Pipeline
#==============================================================================
# General settings
#==============================================================================
# input VCF file path
in_vcf="/home/share/data/s00_source_data/ST349/s01_short_variants/ST349_dragen_joint.hard-filtered.vcf.gz"

# Directory path for input data
#in_dir="."

# Directory path for output data
out_dir="/home/share/data/output/ST349"

# Number of threads
threads=4

#==============================================================================
# QC Filter parameters
#==============================================================================
# Filters variants with genotype quality (Phred score) below this value
GQ=20
# Filter variants with Depth below this value
DP=10

# MAF

#==============================================================================
# Tools
#==============================================================================
# Base directory for tools
tools_dir="/home/share/tools"

# Plink folder path
plink="${tools_dir}/plink2"

# Phenogram folder path
phenogram="${tools_dir}/phenogram"

#------------------------------------------------------------------------------
# IBIS Settings
#------------------------------------------------------------------------------
# IBIS folder path
ibis="${tools_dir}/ibis"

# Minimum number of markers for IBIS to call a segment IBD1 (mt): default=436
ibis_mt1=50
# Minimum number of markers for IBIS to call a segment IBD2 (mt): default=186
ibis_mt2=10

#------------------------------------------------------------------------------
# TRUFFLE Settings
#------------------------------------------------------------------------------
truffle="${tools_dir}/truffle"

# Minimum distance between markers to call an IBD1 segment
ibs1m=4000

# Minimum distance between markers to call an IBD2 segment
ibs2m=500

#==============================================================================
# Resources
#==============================================================================
# Base folder for resources
resources="/home/share/resources"

# ClinVar VCF file path
clinvar="${resources}/clinvar/clinvar_20220507.vcf.gz"

# File path containing recombination genetic map for human genome
genetic_map="${resources}/recomb-hg38/genetic_map_hg38_withX.txt"

genome="${resources}/phenogram/human_genome.txt"
# CADD folder path
cadd="${resources}/cadd"
