# Configuration file for Short Variants Pipeline
#===================================================
# Input and output directory settings
#===================================================
# input VCF file path
IN_VCF="/home/share/data/s00_source_data/IHCAPX8/s01_short_variants/IHCAPX8_dragen_joint.hard-filtered.vcf.gz"
# Directory path for input data
IN_DIR="."
# Directory path for output data
OUT_DIR="/home/share/data/IHCAPX8"
# Number of threads
THREADS=4
#====================================================
# Tools
#====================================================

