# Configuration file for Short Variants Pipeline
#==============================================================================
# General settings
#==============================================================================
# input VCF file path
in_vcf="/home/share/data/s00_source_data/IHCAPX8/s01_short_variants/IHCAPX8_dragen_joint.hard-filtered.vcf.gz"

# Directory path for input data
#in_dir="."

# Directory path for output data
out_dir="/home/share/data/output/IHCAPX8_1"

# Number of threads
threads=4

#==============================================================================
# Tools
#==============================================================================
# Base directory for tools
tools_dir="/home/share/tools"

# Plink folder path
plink="${TOOLS_DIR}/plink2"

# Phenogram folder path
phenogram="${TOOLS_DIR}/phenogram"

#------------------------------------------------------------------------------
# IBIS Settings
#------------------------------------------------------------------------------
# IBIS folder path
ibis="${TOOLS_DIR}/ibis"

# Minimum number of markers for IBIS to call a segment (mt)
ibis_mt=436

#------------------------------------------------------------------------------
# TRUFFLE Settings
#------------------------------------------------------------------------------
TRUFFLE="${TOOLS_DIR}/truffle"

# Minimum distance between markers to call an IBD1 segment
ibs1m=4000

# Minimum distance between markers to call an IBD2 segment
ibs2m=500

#==============================================================================
# Resources
#==============================================================================
# Base folder for resources
resources="/home/share/resources"

# ClinVar VCF file path
clinvar="${RESOURCES}/clinvar/clinvar_20220507.vcf.gz"

# File path containing recombination genetic map for human genome
genetic_map="${RESOURCES}/recomb-hg38/genetic_map_hg38_withX.txt"

genome="${RESOURCES}/phenogram/human_genome.txt"
