# Configuration file for Short Variants Pipeline
#==============================================================================
# General settings
#==============================================================================
# input VCF file path
IN_VCF="/home/share/data/s00_source_data/IHCAPX8/s01_short_variants/IHCAPX8_dragen_joint.hard-filtered.vcf.gz"

# Directory path for input data
#IN_DIR="."

# Directory path for output data
OUT_DIR="/home/share/data/output/IHCAPX8"

# Number of threads
THREADS=4

#==============================================================================
# Tools
#==============================================================================
# Base directory for tools
TOOLS_DIR="/home/share/tools"

# Plink folder path
PLINK="${TOOLS_DIR}/plink2"

# Phenogram folder path
PHENOGRAM="${TOOLS_DIR}/phenogram"

#------------------------------------------------------------------------------
# IBIS Settings
#------------------------------------------------------------------------------
# IBIS folder path
IBIS="${TOOLS_DIR}/ibis"

# Minimum number of markers for IBIS to call a segment (mt)
IBIS_MT=436

#------------------------------------------------------------------------------
# TRUFFLE Settings
#------------------------------------------------------------------------------
TRUFFLE="${TOOLS_DIR}/truffle"

# Minimum distance between markers to call an IBD1 segment
IBS1M=4000

# Minimum distance between markers to call an IBD2 segment
IBS2M=500

#==============================================================================
# Resources
#==============================================================================
# Base folder for resources
RESOURCES="/home/share/resources"

# ClinVar VCF file path
CLINVAR="${RESOURCES}/clinvar/clinvar_20220507.vcf.gz"

# File path containing recombination genetic map for human genome
GENETIC_MAP="${RESOURCES}/recomb-hg38/genetic_map_hg38_withX.txt"

GENOME="${RESOURCES}/phenogram/human_genome.txt"
